* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    
 }

nav{
    width: 100%;
    padding: 1rem 5%;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    display: flex;
     align-items: center;
    justify-content: space-between;
    
}

nav .nav-group {
display: flex;
align-items: end;
gap: 2rem;
}

.nav-links{
list-style: none;
display: flex;
gap: 2rem;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: #38bdf8;
    letter-spacing: 1px;
    margin-right: auto;
}
    
.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
    align-items: end;

}
.nav-links li a:hover {
color: #38bdf8;
 text-shadow: 0 0 10px #38bdf8;
     align-items: end;

}

/* Navbar styling */
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}

.hero-section .section-content {
 display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}
    .hero-section .hero-details .title {
        font-size: var(--font-size-xxl);
        color: var(--seconday-color);
        font-family: "Miniver", sans-serif;
    }
     .hero-section .hero-details .subtitle {
         margin-top: 8px;
         max-width: 70%;
         font-size: 10px;

    font-weight: var(--font-weight-semibold);
}
 
.hero-section .hero-details .description {
     max-width: 70%;
     margin: 24px 0 40px;
     font-size: var(--font-size-m);
 }
 .hero-section .hero-details .button {
     display: flex;
     gap: 23px;
 }
     
     
.hero-section .hero-details .button {
     padding: 10px 26px;
     color: var(--primary-color);
     border-radius: var(--border-radius-m);
     background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
 }

.hero-section .hero-details .button:hover,
   .hero-section .hero-details .contact-us {
    color:var(--white-color);
    border-color: var(--white-color);
    background: transerent;
}
     
   .hero-section .hero-details .contact-us:hover {
    color:var(--primary-color);
    border-color: var(--seconday-color);
    background: var(--seconday-color);
}   
         


